*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner{
    background: url("./image/register.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* navbar section */
.navbar-brand{
    font-size: 30px;
    color: white !important;
}
.nav-link{
    float: right;
    color: white;
    font-size: 20px;
}

.nav-link:hover{
  color: orange;
}


.colored{
    color: orange;
}

.landing-header{
    color: white;
    text-align: center;
    font-size: 50px;
}

/* register section */
.register-head{
    color: white;
    text-transform: uppercase;
    padding-top: 29%;
}

.regis-row{
    padding: 30px;
}

.register-para{
    color: white;
}

.form{
    padding: 15px;
    background: white;
    width: 40%;
    border-radius: 10px;
    margin-top: 0px;
}

  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 10px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    margin-bottom: 10px;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 29%;
    opacity: 0.9;
    border-radius: 7px;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }

  .regis-pa{
    font-size: 13px;
  }

/* @media(max-width: 1024px){
  .regis-row{
    margin-top: 30%;
    padding: 0px;
  }

  .registerbtn {
    font-size: 14px;
  }
  
  .register-para{
    color: white;
    font-size: 29px;
}

.register-col{
  width: 50%;
}

.form{
  width: 50%;
}

} */

@media (max-width: 768px){
  .form{
    padding: 10px;
    background: white;
    width: 50%;
    border-radius: 10px;
    margin-top: 30px;
}

.register-head{
  color: white;
  text-transform: uppercase;
  padding-top: 30%;
  font-size: 46px;
}

.register-para{
  font-size: 26px;
}

.regis-row{
  padding: 0px;
  margin-top: 90px;
}

.register-col{
  width: 50%;
}

}

@media (max-width: 540px){
  .nav-link{
    font-size: 14px;
}

.navbar-brand{
    font-size: 20px;
}

  .form{
    padding: 10px;
    background: white;
    width: 100%;
    border-radius: 10px;
    margin-top: 40px !important;
}

.register-head{
  color: white;
  text-transform: uppercase;
  padding-top: 0px;
  font-size: 36px;
}

.register-para{
  font-size: 19px;
}

.register-col{
  width: 100%;
}

.registerbtn {
  background-color: #04AA6D;
  width: 35%;
  font-size: 14px;
}

.banner{
  background: url("./image/register.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
}

.regis-row{
  margin-top: 20px;
  padding: 20px;
}

}

@media (max-width: 375px){

  .nav-link{
    font-size: 20px;
}

.navbar-brand{
    font-size: 20px;
}

  .form{
    padding: 10px;
    background: white;
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}

.register-head{
  color: white;
  text-transform: uppercase;
  padding-top: 0px;
}

.registerbtn {
  background-color: #04AA6D;
  width: 35%;
  font-size: 14px;
}

.regis-pa{
  font-size: 14px;
}

.banner{
  background: url("./image/register.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100% !important;
}

}

@media (max-width: 360px){

  .nav-link{
    font-size: 20px;
}

.navbar-brand{
    font-size: 20px;
}

  .form{
    padding: 10px;
    background: white;
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}

.register-head{
  color: white;
  text-transform: uppercase;
  padding-top: 0px;
}

.registerbtn {
  background-color: #04AA6D;
  width: 35%;
  font-size: 14px;
}

.regis-pa{
  font-size: 14px;
}

.banner{
  background: url("./image/register.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100% !important;
}

}

@media (max-width: 320px){

  .nav-link{
    font-size: 15px;
}

.navbar-brand{
    font-size: 16px;
}

  .form{
    padding: 10px;
    background: white;
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}

.register-head{
  color: white;
  text-transform: uppercase;
  padding-top: 0px;
  font-size: 20px;
}

.register-para{
  font-size: 13px;
}

.registerbtn {
  background-color: #04AA6D;
  width: 35%;
  font-size: 10px;
}

.regis-pa{
  font-size: 11px;
}

.banner{
  background: url("./image/register.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100% !important;
}

}